/* Add colours */
:root {
    --blue: rgb(132, 210, 255);
    --red: rgb(255, 127, 127);
    --pink: rgb(255, 158, 218);
    --green: rgb(126, 255, 132);
    --purple: #6A5ACD;
    --lightpurple: #9c8dff;
    --lightlightpurple: #d4cdff;
    --background: #191d21;
}



.info {
    text-align: center;
    color: white;
}



/* Adjust body */
body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}



/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #1e2328;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}



.navigation { /* The navigation bar, it is hosted on navigation.html so not much css here */
    margin: 0;
    padding: 0; /* Fix positioning again */
    width: 100%;
    height: 3rem; /* Change width/height back to normal */
    position: sticky;
    top: 0; /* Make it so that when you scroll, it will stay at the top of the screen */
    min-width: 61rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.list {
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 70vw;
    margin-left: calc(15vw - .5rem);
    border: 1px solid #303841;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 35rem;
}

/* Fix list */
.list, .popup {
    color: white;
    font-weight: bold;
    /*background-color: rgba(30, 35, 40, 0.2);*/
    background-color: rgba(100, 100, 100, 0.05);
}
/* Align the list in boxes */
.listObj {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    /* Adjust padding and enable boxes format for list objects */
    .listObj p, .listObj a {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0.65rem;
        margin-bottom: 0.65rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

.name { width: 40%; }
.vers { width: 10%; }
.serv { width: 30%; }
.down { width: 20%; }

    /* Make images the size of text, and circular */
    .listObj img {
        width: 20px;
        height: 20px;
        margin-left: 0.5rem;
        border-radius: 100%;
    }
/* Make list objects not centered */
.game, .serv {
    text-align: left;
}

.vers, .down {
    text-align: right;
}

/* Change the opacity of the versions from each list object */
.vers {
    opacity: 30%;
}


/* Adjust colours */
.down {
    color: var(--blue);
    transition: 0.2s;
}

.down:hover {
    text-shadow: var(--blue) 0px 0px 10px;
    color: var(--blue);
}

.r {
    color: var(--lightpurple);
    transition: 0.2s;
}

.r:hover {
    text-shadow: var(--purple) 0px 0px 15px;
    color: var(--lightlightpurple);
}



.rb {
    border-color: var(--red);
    margin-left: 0.5rem;
}

.rbt {
    color: var(--red);
}

.rbt:hover {
    text-shadow: var(--red) 0px 0px 15px;
    color: var(--red);
}

.g {
    color: var(--green);
}

.p {
    color: var(--pink);
}


/* Button
button {
    background-color: #21272c;
    border-radius: 1rem;
    border: 2px solid var(--blue);
    padding: 0.3rem 0rem 0.3rem 0rem;
    cursor: pointer;
}*/

.popupa.down {
    padding: 0rem 0.8rem 0rem 0.8rem;
    text-decoration: none;
}



/* Popup */
.popup, .popupObj {
    line-height: normal;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #21272c;
    border: 1px solid #303841;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.2s; /* Add transition */
    z-index: 9999;
}

    /* Change opacity when it has the visible class */
    .popup.visible {
        opacity: 1;
    }
    /* Fix the popup being in the way when not visible */
    .popup:not(.visible) {
        pointer-events: none;
    }

.visible .popup {
    pointer-events: auto;
}








a {
    width: 150px;
    height: 48px;
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the distance from the right side */
    transform: translateY(-50%);
    text-decoration: none;
    overflow: hidden;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: 0.1s;
    transform-origin: top right;
}

a:hover {
    transform: scale(1.1) translateY(-50%);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

    .downInfo {
        margin-left: auto;
        margin-right: 165px;
        text-align: right;
    }
}

a:hover .buttonWave {
    top: -120px;
}

a span {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.buttonWave {
    width: 200px;
    height: 200px;
    background-color: #0077ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: -80px;
    transition: 0.4s;
}

.buttonWave::before,
.buttonWave::after {
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.buttonWave::before {
    border-radius: 45%;
    background-color: rgba(20, 20, 20, 0.75);
    animation: buttonWaveAnimation 5s linear infinite;
}

.buttonWave::after {
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: buttonWaveAnimation 10s linear infinite;
}

@keyframes buttonWaveAnimation {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}











.container {
    width: 70vw;
    max-width: 50rem;
    min-width: 35rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 10px 0 10px;
    border-radius: 28px;
    background-color: rgba(100, 100, 100, 0.05);
    border: 1px solid #303841;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.row {
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: rgba(150, 150, 150, 0.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.05);
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.gameIcon {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    width: 48px;
    margin-right: 10px;
    border-radius: 16px;
}

.gameInfo, .downInfo {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    color: white;
}

.gameVers, .downInfo {
    color: #696969;
}

.gameTitle, .gameVers, .gameButton, .downAuthor, .downHost {
    margin: 0; /* Remove default margins */
}

.containerTitle {
    color: white;
    margin: 0 0 5px 0;
    text-align: center;
}

.gameButton {
    border: none;
    height: 32px;
    min-width: 96px;
    border-radius: 16px;
    outline: 1px solid #303841;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.downInfo {
    margin-left: auto;
    margin-right: 165px;
    text-align: right;
    transition: 0.1s ease;
}

.downInfo.adjusted-margin {
    margin-right: 180px;
    color: #ffffff;
}





.parrot {
    width: 48px;
    transition: 0.1s ease-in-out;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    transform: translateY(-50%);
    margin-left: calc(192px + (50vw - 48px / 2));
    opacity: 10%;
}

.parrothover {
    opacity: 100%;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
}






.search, .filter {
    transition: 0.1s;
    border-radius: 69px;
    height: 32px;
    margin-bottom: 10px;
    padding-left: 12px;
    background-color: rgba(150, 150, 150, 0.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: white;
    outline: 0 solid rgba(255, 255, 255, 0.05);
    vertical-align: middle;
}

.search {
    width: calc(100% - 32px - (12px * 2) - 6px);
    transform-origin: left;
    font-family: 'Lexend', sans-serif;
}

.filter {
    width: 32px;
    margin-left: 6px;
    transform-origin: right;
}



.search:hover, .search:focus, .filter:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    outline: 1px solid rgba(175, 175, 175, 0.5);
}